<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sudytech.ddjt.mapper.THdxtHdcyMapper">

    <resultMap id="BaseResultMap" type="com.sudytech.ddjt.sdo.THdxtHdcy">
            <id property="id" column="ID" jdbcType="INTEGER"/>
            <result property="hdsqid" column="HDSQID" jdbcType="INTEGER"/>
            <result property="userid" column="USERID" jdbcType="INTEGER"/>
            <result property="qdsj" column="QDSJ" jdbcType="TIMESTAMP"/>
            <result property="qtsj" column="QTSJ" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,HDSQID,USERID,
        QDSJ,QTSJ
    </sql>
</mapper>
